APScheduler==3.9.1
attrs==22.1.0
Automat==20.2.0
black==22.10.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==2.1.1
constantly==15.1.0
cryptography==39.0.1
cssselect==1.1.0
filelock==3.8.0
hyperlink==21.0.0
idna==3.4
incremental==22.10.0
itemadapter==0.7.0
itemloaders==1.0.6
jmespath==1.0.1
lxml==4.9.1
mypy-extensions==0.4.3
packaging==21.3
parsel==1.6.0
pathspec==0.10.1
platformdirs==2.5.2
Protego==0.2.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
PyDispatcher==2.0.6
pyOpenSSL==22.1.0
pyparsing==3.0.9
queuelib==1.6.2
requests==2.28.1
requests-file==1.5.1
Scrapy==2.7.0
service-identity==21.1.0
six==1.16.0
tldextract==3.4.0
tomli==2.0.1
Twisted==22.10.0
typing_extensions==4.4.0
urllib3==1.26.12
w3lib==2.0.1
zope.interface==5.5.0
