APScheduler==3.10.4
attrs==23.1.0
Automat==22.10.0
black==23.7.0
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
click==8.1.6
constantly==15.1.0
cryptography==41.0.4
cssselect==1.2.0
filelock==3.12.2
hyperlink==21.0.0
idna==3.4
incremental==22.10.0
itemadapter==0.8.0
itemloaders==1.1.0
jmespath==1.0.1
lxml==4.9.3
mypy-extensions==1.0.0
packaging==23.1
parsel==1.8.1
pathspec==0.11.2
platformdirs==3.10.0
Protego==0.3.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
PyDispatcher==2.0.7
pyOpenSSL==23.2.0
pyparsing==3.1.1
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
queuelib==1.6.2
requests==2.31.0
requests-file==1.5.1
Scrapy==2.10.0
service-identity==23.1.0
six==1.16.0
tldextract==3.6.0
tomli==2.0.1
Twisted==22.10.0
typing_extensions==4.8.0
tzdata==2023.3
tzlocal==5.1
urllib3==2.0.6
w3lib==2.1.2
zope.interface==6.0
