APScheduler==3.10.1
attrs==22.2.0
Automat==22.10.0
black==23.1.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
constantly==15.1.0
cryptography==39.0.2
cssselect==1.2.0
filelock==3.9.0
hyperlink==21.0.0
idna==3.4
incremental==22.10.0
itemadapter==0.7.0
itemloaders==1.0.6
jmespath==1.0.1
lxml==4.9.2
mypy-extensions==1.0.0
packaging==23.0
parsel==1.7.0
pathspec==0.11.0
platformdirs==3.1.0
Protego==0.2.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
PyDispatcher==2.0.7
pyOpenSSL==23.0.0
pyparsing==3.0.9
pytz==2022.7.1
pytz-deprecation-shim==0.1.0.post0
queuelib==1.6.2
requests==2.28.2
requests-file==1.5.1
Scrapy==2.8.0
service-identity==21.1.0
six==1.16.0
tldextract==3.4.0
tomli==2.0.1
Twisted==22.10.0
typing_extensions==4.5.0
tzdata==2022.7
tzlocal==4.2
urllib3==1.26.14
w3lib==2.1.1
zope.interface==5.5.2
