.coverage
coverage.xml
.tox
env*
build
dist
.cache
.ruff_cache
.pytest_cache
.eggs
*.egg-info
*.egg
*.log
*.pyo
*.pyc
*$py.class
*.sublime-project
*.sublime-workspace
*.sqlite
*.db
__pycache__
*.bak
*.swp
*.swo
*~
htmlcov
python-env
