language: python
python:
  - "2.7"
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8"
  - "3.9"
jobs:
  allow_failures:
    - python: "3.9-dev"
install:
  - pip install --upgrade pip
  - pip install --upgrade setuptools tox wheel
script:
  - export TOXENV=py`python -c 'import sys; print("".join(map(str, sys.version_info[:2])))'`
  - echo "$TOXENV"
  - tox
after_success:
  - pip install codecov
  - codecov
cache: pip
notifications:
  email: false

deploy:
  provider: pypi
  user: hellysmile
  password:
    secure: "nDk2zl6oboaVJXakDDiChTXlLneM+Neqcqz+/t9eT+vU4c7N7Bhv3ONlm+W2PFsqLfLA4yTLweO7TG9+9nh7sKyneJkNUw4Srald7AFoBwhy/LERHw2FJUC1FbteWv+GiHPoz3lYAZKROG3rK/6nBeyivdDIteZf+W3YKo1wk3c="
  distributions: "sdist upload"
  on:
    tags: true
    all_branches: true
    python: 2.7
