[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[project]
name = "fake-useragent"
version = "1.0.1"
authors = [
    {name = "Victor Kovtun", email = "hellysmile@gmail.com"},
    {name = "Melroy van den Berg", email = "melroy@melroy.org"},
]
dependencies = [
    "importlib-resources >= 5.0; python_version < '3.10'",
    "importlib-metadata ~= 4.0; python_version < '3.8'",
]
description = "Up-to-date simple useragent faker with real world database"
keywords = [
    "user",
    "agent",
    "user agent",
    "useragent",
    "fake",
    "fake useragent",
    "fake user agent",
]
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: Apache Software License",
    "Operating System :: POSIX",
    "Operating System :: MacOS :: MacOS X",
    "Operating System :: Microsoft :: Windows",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3 :: Only",
    "Operating System :: OS Independent",
    "Topic :: Internet :: WWW/HTTP",
    "Topic :: Software Development",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Topic :: Utilities",
]

[project.readme]
file = "README.md"
content-type = "text/markdown"

[project.urls]
Homepage = "https://github.com/fake-useragent/fake-useragent"

[tool.setuptools]
zip-safe = false

[tool.setuptools.package-data]
"fake_useragent.data" = ["*.json"]
