attrs==23.1.0
black==23.7.0
build==1.0.3
cachetools==5.3.1
chardet==5.2.0
click==8.1.7
colorama==0.4.6
coverage==7.3.1
distlib==0.3.7
exceptiongroup==1.1.2
fastjsonschema==2.18.0
filelock==3.12.4
importlib-metadata==6.8.0
importlib-resources==6.0.1
iniconfig==2.0.0
isort==5.12.0
mypy-extensions==1.0.0
packaging==23.1
pathspec==0.11.2
pep517==0.13.0
platformdirs==3.10.0
pluggy==1.2.0
py==1.11.0
pyparsing==3.1.1
pyproject_api==1.6.1
pyproject_hooks==1.0.0
pytest==7.4.2
pytest-cov==4.1.0
ruff==0.1.6
six==1.16.0
tomli==2.0.1
tox==4.6.4
validate-pyproject==0.15
virtualenv==20.24.2
zipp==3.16.2
