attrs==24.2.0
black==24.8.0
build==1.2.2
cachetools==5.3.3
chardet==5.2.0
click==8.1.7
colorama==0.4.6
coverage==7.6.1
distlib==0.3.8
exceptiongroup==1.2.2
fastjsonschema==2.20.0
filelock==3.16.1
importlib-resources==6.4.5
iniconfig==2.0.0
isort==5.13.2
mypy-extensions==1.0.0
packaging==23.2
pathspec==0.12.1
pep517==0.13.1
platformdirs==4.2.0
pluggy==1.5.0
py==1.11.0
pyparsing==3.1.1
pyproject-api==1.6.1
pyproject_hooks==1.0.0
pytest==8.3.3
pytest-cov==5.0.0
ruff==0.6.7
six==1.16.0
tomli==2.0.1
tox==4.14.1
typing_extensions==4.10.0
validate-pyproject==0.16
virtualenv==20.25.1
zipp==3.20.2
