appdirs==1.4.4
appnope==0.1.2
asttokens==2.0.5
attrs==21.4.0
backcall==0.2.0
configparser==5.2.0
coverage==6.3.2
decorator==5.1.1
distlib==0.3.4
enum34==1.1.10
executing==0.8.3
filelock==3.6.0
flake8==4.0.1
iniconfig==1.1.1
ipdb==0.13.9
ipython==8.2.0
isort==5.10.1
jedi==0.18.1
matplotlib-inline==0.1.3
mccabe==0.7.0
mock==4.0.3
packaging==21.3
parso==0.8.3
pathlib2==2.3.7
pexpect==4.8.0
pickleshare==0.7.5
platformdirs==2.5.1
pluggy==1.0.0
prompt-toolkit==3.0.28
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
pycodestyle==2.8.0
pyflakes==2.4.0
Pygments==2.11.2
pyparsing==3.0.7
pytest==7.1.1
pytest-cov==3.0.0
scandir==1.10.0
six==1.16.0
stack-data==0.2.0
toml==0.10.2
tomli==2.0.1
tox==3.24.5
traitlets==5.1.1
virtualenv==20.14.0
wcwidth==0.2.5
